.App{
    background-color: aliceblue;
}
.carouselItem{
    height:auto;
    width:100%;
    text-align: center;
}
.TempInform > p{
    font-size: 12pt;
    opacity:0.3;
}
.avatarImg:hover{
    border:solid black;
    cursor: pointer;
}

@media (min-width:700px){
    .TempInform > p {
        font-size:24pt;
    }
}
.carousel2 {
    height: 100px;
    width: 100%;
    background-color:aliceblue;
    top:50px;
}
html{
    background-image: url("../images/back_test.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    opacity: 0.8%
  }
