/*.App {*/
    /*opacity: 0.8;*/
/*}*/

/*.carouselItem {*/
    /*height: auto;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

.TempInform {
    opacity: 0.8;
}

.TempInform > p {
    font-size: 12pt;
}

.avatarImg:hover {
    border: solid black;
    cursor: pointer;
}

@media (min-width: 700px) {
    .TempInform > p {
        font-size: 24pt;
    }
}

.container-fluid{
    min-height:100%;
}

.fill-height{
    min-height:100%;
    height:100%;
}

.weather-inform{
    margin-top: 100px;
}
body{
    background-image: url("../images/back_test.png");
    background-repeat: no-repeat;
    background-size: cover;
}